form {
    border: none !important;
}
.height25{
    height: 30vh;
    width: 15vw;
}
.bg-lg {
    background-color: lightgrey;
    
}
/* -------------------------------------------------------------- */

/* .c1{
    background-color: rgb(220,53,69);
}

.t1{
    color :rgb(220,53,69);
} */
/* -------------------------------------------------------------- */
/* .c2{
    background-color: rgb(255,193,7);
}   

.t2{
    color: rgb(255,193,7);
} */
/* -------------------------------------------------------------- */

/* .c3{
    background-color: rgb(25,135,84) ;
}
.t3{
    color: rgb(25,135,84);
} */
/* -------------------------------------------------------------- */


